.shipping-item {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  color: #444;
}
