/* :host selecciona al propio componente <app-top-bar> */
:host {
  /*width: 100%;*/
  height: 68px;
  background-color: #1976d2; /* Azul Angular */
  padding: 16px;
  display: flex; /* Flexbox para alinear título y botón */
  flex-direction: row;
  justify-content: space-between; /* Uno a la izquierda, otro a la derecha */
  align-items: center;
}

h1 {
  color: white;
  margin: 0;
}

.fancy-button {
  background-color: white;
  color: #1976d2;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
